*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: fit-content;
    box-sizing: border-box;
    margin: 0 auto;
}

header{
    background: url(./images/bnb.png);
    background-size: cover;

}


nav{
    display: flex;
    text-align: center;
    position: relative;

    
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
    margin-right: 60px;
    position: relative;
    right: 150px;   
    
}

nav ul li{
color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 20px;
}

.logo{
    margin-right: 450px;
    margin-left: 100px;
}

.welcome{
    color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-weight: 30;
font-style: oblique;
margin-top: 130px;

}

.Luxury{
    color: #FFF;
font-family: Montserrat;
font-size: 55px;
font-style: normal;
font-weight: 550;
margin-top: 5px;
}

.catchphrase{
    color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 30;
margin-top: 5px;
}

main{
    margin-left: 100px;

}

 .btn{
    background-color: #E0B973;
    display: flex;
    width: 11%;
    padding: 15px;
    color: white;
    text-align: center;
    justify-content: space-between;
    margin-left: 600px;
    display: inline-flexbox;
    padding-bottom: 10px;

}

.scroll{
    margin-left: 650px;
    margin-top: 30px;
    text-decoration: solid;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.scroll img{
    width: 40px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.scroll p{
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 300;
}

.roomrate{
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.roomrate h1{
text-transform: uppercase;;
color: #14274A;
text-align: center;
font-family: Adobe Garamond Pro;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3px;
margin-top: 30px;
}

.roomrate p{
    text-align: center;
}

.first_div{
    background: #14274A;
    color: white;
    padding:30px 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    width: 100%;
}
.first_div img{
    position: absolute;
    bottom: 130%;
    width: auto;
    
}

.last_div{
    display: flex;
    border: 2px solid black;
    display: flex;
}

.plus{
    display: flex;
    text-align: center;
    margin-left: 50px;
    padding: 30px;
    flex: 2;
    display: flex;
    
    
}

.last_div button{
    color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
background-color: #E0B973;
border: none;
margin-right: 130px;
margin-top: 50px;
margin-bottom: 50px;
width: 20%;
flex: 1;
}

/* .room_pic{
    height: 100vh;
    background-size: contain;
    padding-top: 30px;
} */
 




